<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/nav.ejs') %>
  <p>Trait page</p>
  <a href="/">Back to Home Page</a>
  <%- include('partials/footer.ejs') %>
</body>
</html>